:root {
    /* --bg-color: #ABEDC6; */
    --bg-color: #4A4B2F;
    /* --bg-color: #208AAE; */
    /* --text-color: #403233; */
    --text-color: #8CD790;
    --text-alt-color: #669D69;
    /* --container-color: deepskyblue; */
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica;
    color: var(--text-color);
}

html {
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    background-color: var(--bg-color);
}

h1 {
    text-align: center;
    font-size: 42px;
}

a:hover {
    color: var(--text-alt-color);
}

.container {
    margin: 0 auto;
    width: 600px;
    height: 300px;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}

.info {
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    width: 80%
}

.social-media {
    font-size: 18px;
}

ul.horizontal {
    list-style: none;
    text-align: center;
}

ul.horizontal li {
    text-align: center;
    display: inline-block;
    margin-right: 16px;
}

