
.games-page {
    display: flex;
    flex-direction: column;
}

.games-header {
    width: 100%;
    height: 4em;
    background-color: green;
}

.games-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.games-footer {

}

.game-thumbnail {
    background-color: red;
    margin: 2em;
    width: 15em;
    height: 15em;
}