* {
    padding: 0;
    margin: 0;
}

.page {
    background-color: green;
    width: 60em;
    margin-top: 4em;
    display: flex;
}


.nav-bar {
    width: 100%;
    background-color: red;
    height: 3em;
}