<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="keywords" content="resume, research, publications, projects">
    <meta name="Description" content="personal website of a Ph.D. student based in Oslo, Norway.">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <style>/* style */</style>
    <title>Steven Hicks - Projects</title>
</head>
<body>
    <header class="content">
        <h1><a href="index.html">Steven Hicks</a></h1>
        <nav>
            <ul>
                <li class="selected"><a href="projects.html">Projects</a></li>
                <li><a href="publications.html">Publications</a></li>
                <li><a target="_blank" href="resume.pdf">Resume</a></li>
            </ul>
        </nav>
    </header>
    <ul class="content project-list">
        {% for project in context %}
        <li>
            <img src="{{project.thumbnail}}"/>
            <h2>{{project.name}}</h2>
            <div>{{project.description}}</div>
            <ul class="menu">
                {% if project.play %}
                <li><a href="{{project.play}}">play</a></li>
                {% endif %}
                {% if project.github %}
                <li><a href="{{project.github}}">github</a></li>
                {% endif %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155284604-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-155284604-1');
    </script>
</body>
</html>