<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <meta name="keywords" content="resume, research, publications, projects">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <style>/* style */</style>
    <title>Steven Hicks</title>
</head>
<body>
    <header>
        <h1><a href="index.html">Steven Hicks</a></h1>
        <nav>
            <ul>
                <li><a class="selected" href="publications.html">Publications</a></li>
                <li><a target="_blank" href="resume.pdf">Resume</a></li>
                <li><h2 id="theme-toggle">🌓</h2></li>
            </ul>
        </nav>
    </header>
    <ul class="page-list">
        {% for publications in context %}
            <li><div class="page-list-divider"><span>{{publications.year}}</span></div></li>
            {% for publication in publications.pubs %}
            <li>
                <h2>{{publication.name}}</h2>
                <div>{{publication.authors}}</div>
                <div><i>{{publication.venue}}</i></div>
                <ul>
                    {% if publication.pdf %}
                    <li><a href="/papers/{{publication.pdf}}">pdf</a></li>
                    {% endif %}
                    {% if publication.bib %}
                    <li><a href="/bibtex/{{publication.bib}}">cite</a></li>
                    {% endif %}
                    {% if publication.doi %}
                    <li><a href="https://doi.org/{{publication.doi}}">web</a></li>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
        {% endfor %}
    </ul>
    <script>
        (function() {
            var onpageLoad = localStorage.getItem("theme") || "dark-mode";
            var element = document.documentElement;
            element.classList.add(onpageLoad);
        })();
        function themeToggle() {
            let element = document.documentElement;
            if (element.classList.contains("dark-mode")) {
                element.classList.remove("dark-mode");
                element.classList.add("light-mode");
            } else {
                element.classList.remove("light-mode");
                element.classList.add("dark-mode");
            }
            let theme = localStorage.getItem("theme");
            if (theme && theme === "dark-mode") {
                localStorage.setItem("theme", "light-mode");
            } else {
                localStorage.setItem("theme", "dark-mode");
            }
        }
        document.getElementById("theme-toggle").addEventListener("click", themeToggle);
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155284604-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-155284604-1');
    </script>
</body>
</html>