:root {
	--bgcolor: rgb(36, 112, 243);
    --textcolor: rgb(255, 255, 255);
    --linkcolor: rgb(55, 71, 133);
    --mobilewidth: 600
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

:hover, :active, :link, :visited {
    color: var(--textcolor);
    text-decoration: none;
}

a:hover {
    color: var(--linkcolor);
}

ol, ul {
	list-style: none;
}

article, footer, header, nav, section {
	display: block;
}

html {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    color: var(--textcolor);
	background: var(--bgcolor);
    font-family: sans-serif;
    font-size: 16px;
}

body {
	line-height: 1;
}

.content {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
    overflow: none;
    padding: 0 20px;
}

.banner {
    text-align: center;
}

div.info {
    line-height: 1.3;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 560px;
    font-size: 36px;
}

div.contact {
    margin-top: -10px;
    font-size: 18px;
    text-align: center;
    font-weight: 900;
}

ul.social {
    font-size: 22px;
    margin: 30px auto;
    text-align: center;
    font-weight: 900;
}

div.divider {
    width: 100%;
    height: 20px;
    border-bottom: 3px solid white;
    text-align: center;
}

div.divider > span {
    font-size: 40px;
    background-color:var(--bgcolor);
    padding: 0 10px;
}

ul.horizontal > li {
    display: inline-block;
    margin: 10px;
}

ul.menu > li {
    display: inline-block;
    background-color: var(--linkcolor);
    padding: 0;
    color: var(--textcolor);
}

ul.menu > li > a {
    color: var(--textcolor);
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 7px 10px;
    font-weight: 900;
}




ul.publication-list {
    padding-bottom: 10px;
}

ul.publication-list > li {
    margin: 40px 0;
    padding: 0;
}

ul.publication-list > li > *:not(:first-child) {
    margin: 10px 0;
}

ul.publication-list > li > h2 {
    font-size: 20px;
    font-weight: 600;
}






ul.project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 0;
}

@media screen and (max-width: 600px) {
    ul.project-list {
        grid-template-columns: 1fr;
    }
}

ul.project-list > li {
    position: relative;
    line-height: 1.5;
    margin-bottom: 2rem;
}

ul.project-list > li > h2 {
    font-size: 20px;
    font-weight: 600;
}

ul.project-list > li > h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: -4px;
    margin-bottom: 7px;
    opacity: 0.7;
}

ul.project-list > li > .menu {
    margin-top: 20px;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    font-size: 40px;
    font-weight: 900;
}

header > nav > ul {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
}

header > nav > ul > li {
    margin: 18px 10px;
    font-size: 1.1em;
    display: inline-block;
    cursor: pointer;
    font-weight: 900;
}

header > nav > ul > li.selected a {
    padding-bottom: 3px;
    border-bottom: solid white 3px;
}

@media screen and (max-width: 600px) {
    header > nav > ul > li {
        display: block;

    }
    header > nav > ul > li.selected {
        margin-bottom: 18px;
    }
    .info {
        margin-top: 50px;
    }
}