
$primary-background: #1A1D21;
$primary-font: #ffffff;

$color-1: #CA0843;
$color-2: #5FC908;
$color-3: #069B5B;
$color-4: #69D2E7;
$color-5: #FA6900;
$color-6: #5A6A62;
$color-7: #1FDA9A;
$color-8: #28ABE3;
$color-9: #DB3340;
$color-10:#FFE600;
$color-11:#6C8672;
$color-12:#F17D80;
$color-13:#F5DF65;
$color-14:#D14D28;
$color-15:#83BF17;
$color-16:#BB0F00;
$color-17:#F76835;
$color-18:#FF4C4B;
$color-19:#6991AC;
$color-20:#86269B;
$color-21:#d9005f;
$color-22:#ff7f00;
$color-23:#00819f;
$color-24:#87ea00;


$twitter-color:#1DA1F2;
$github-color:#24292E;